@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&family=Mitr:wght@500&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
.container{
    
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: rgba(51, 51, 46, 0.705) 10px 10px 10px;
    width: 500px;
    height: 500px;
    margin-top: 20px;
    background: #fffdfd;
}
label{
    margin-top: 20px;
    font-size: 25px;
    margin-bottom: 10px;
}
input{
    margin: 5px;
    padding: 10px;
    font-size: 25px;
    outline: none;
    margin-top: 10px;
}
    

